.titulo{
    font-family: 'Bungee Spice';
    text-align: center;
    width: 100%;
    margin: 0;
    background-color:#221f20be;
}

.body{
    background-image: url("../imagenes/messi.jpg");
    background-size: cover;
    height: 1200px;
}

.container-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}

.partidos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    grid-auto-rows: minmax(100px, auto);    
  }

 .arg-ar,.arg-mex,.arg-pol,.octavos,.cuartos,.semifinal,.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(239, 161, 72, 0.434);
 }

  .arg-ar {
    grid-column: 1;
    grid-row: 1;
  }

  .arg-mex {
    grid-column: 2;
    grid-row: 1;
  }

  .arg-pol {
    grid-column: 3;
    grid-row: 1;
  }

  .octavos {
    grid-column: 2;
    grid-row: 2;
  }
  .cuartos{
    grid-column: 2;
    grid-row: 3;
  }
  .semifinal {
    grid-column: 2;
    grid-row: 4;
  }
  .final {
    grid-column: 2;
    grid-row: 5;
  }
  
img{
    width: 120px;
    height: 70px;
    margin: 8px;
}

.flex-data{
    display: flex;
}

input{
    width: 100%;
}

a{
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    text-decoration: none;
}


#boton-ver-partido{
  background-color:#ea1a6067;
}

#avolver{
  background-color:#ea1a5f9e;
  color: white;
  border: 2px solid black;
  font-size: 16px;
}

#ver-partido{
  color:white;
  font-size: 12px;
}

.container-video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#141112be;
  height: 25px;
  border-bottom: 1.5px solid black;
  margin-bottom: 20px;
}

li{
  list-style: none;

}

.link{
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.link:hover{
  border-left:2px solid rgb(48, 163, 229);
  border-right:2px solid rgb(48, 163, 229);
  margin-left: 18px;
  margin-right: 18spx;
}