*{
  margin:0;
}

.titulo{
    font-family: 'Bungee Spice';
    text-align: center;
    width: 100%;
    margin: 0;
    background-color:#221f20be;
}

.textoTiempos{
    font-family:'Times New Roman', Times, serif;
    color:rgba(70, 228, 78, 0.808);
    text-align: center;
    width: 25%;
    margin:10px;
    background-color:#1f221fbe;
}


.body{
    background-image: url("../imagenes/messi.jpg");
    background-size:cover;
    background-position: 35%;
    height: 1850px;
}

.container-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}

.partidos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    grid-auto-rows: minmax(100px, auto);    
  }

 .arg-ar,.arg-mex,.arg-pol,.octavos,.cuartos,.semifinal,.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(252, 252, 252, 0.792);
 }

  .arg-ar {
    grid-column: 1;
    grid-row: 1;
  }

  .arg-mex {
    grid-column: 2;
    grid-row: 1;
  }

  .arg-pol {
    grid-column: 3;
    grid-row: 1;
  }

  .octavos {
    grid-column: 2;
    grid-row: 2;
  }
  .cuartos{
    grid-column: 2;
    grid-row: 3;
  }
  .semifinal {
    grid-column: 2;
    grid-row: 4;
  }
  .final {
    grid-column: 2;
    grid-row: 5;
  }
  
img{
    width: 120px;
    height: 75px;
    margin: 8px;
}

.flex-data{
    display: flex;  
}

input{
    width: 100%;
}

a{
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    text-decoration: none;
}


#boton-ver-partido{
  background-color:#ea7b1ae1;
}

#volver{
  background-color:#ea7b1ae1;
 
}

#volver-a{
  color: black;
  font-size: 14px;
}

#ver-partido{
  color:black;
  font-size: 12px;
}

.container-video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#141112be;
  height: 25px;
  border-bottom: 1.5px solid black;
  margin-bottom: 20px;
}

li{
  list-style: none;

}

.link{
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.link:hover{
  border-left:2px solid rgb(48, 163, 229);
  border-right:2px solid rgb(48, 163, 229);
  margin-left: 18px;
  margin-right: 18spx;
}


.jugadores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
    grid-auto-rows: minmax(100px, auto);    
}


.arm {
  grid-column: 1;
  grid-row: 1;
}

.mexm {
  grid-column: 2;
  grid-row: 1;
}

.mexe {
  grid-column: 1;
  grid-row: 2;
}

.polm{
  grid-column: 2;
  grid-row: 2;
}

.polj{
  grid-column: 1;
  grid-row: 3;
}

.ausm{
  grid-column: 2;
  grid-row: 3;
}

.ausj{
  grid-column: 1;
  grid-row: 4;
}

.pan{
  grid-column: 2;
  grid-row: 4;
}

.pam{
  grid-column: 1;
  grid-row: 5;
}

.pam2{
  grid-column: 2;
  grid-row: 5;
}

.paj{
  grid-column: 1;
  grid-row: 6;
}

.paj2{
  grid-column: 2;
  grid-row: 6;
}

.frm{
  grid-column: 1;
  grid-row: 7;
}

.frd{
  grid-column: 2;
  grid-row: 7;
}

.frm2{
  grid-column: 1;
  grid-row: 8;
}


#boton-ver-gol{
  width: 100px;
  height: 30px;
  margin-left: 10px;
}


#container-flex-jug{
  display: flex;
}

#jugador-img{
  width: 10px;
}

h3{
font-size: 16px;
margin:10;
}

#container-flex-jug{
  display: flex;
  flex-direction: column;
  width: 60%;
  
}

#container-fondo-jug{
  float: left;
  width: 40%;
  background-image: url(../Imagenes/ar.png);
  background-size:cover;
  background-repeat: no-repeat;
}

#container-cards{
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 200px;
  background-color: rgba(252, 252, 252, 0.804);
  border-radius: 25px;
}

#container-min-gol{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#jugador-versus{
  display: flex;
  align-items: center;
  justify-content: center;
}

#versus{
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {

/* CARDS PARTIDOS , PARA QUE SEA UNA SOLA COLUMNA*/
  .partidos {
    grid-template-columns: repeat(1, 1fr);
  }

  .arg-ar {
    grid-column: 1;
    grid-row: 1;
  }

  .arg-mex {
    grid-column: 1;
    grid-row: 2;
  }

  .arg-pol {
    grid-column: 1;
    grid-row: 3;
  }

  .octavos {
    grid-column: 1;
    grid-row: 4;
  }
  .cuartos{
    grid-column: 1;
    grid-row: 5;
  }
  .semifinal {
    grid-column: 1;
    grid-row: 6;
  }
  .final {
    grid-column: 1;
    grid-row: 7;
  }

  /*FONDO MESSI*/
  .body{
    background-image: url("../imagenes/messi.jpg");
    background-size:1000px;
    background-position: -230px;
    height: 100% ;
}


/*CARDS GOLES RESPOSIVOS A UNA COLUMNA Y MENOR TAMAÑO*/

.arm {
  grid-column: 1;
  grid-row: 1;
}

.mexm {
  grid-column: 1;
  grid-row: 2;
}

.mexe {
  grid-column: 1;
  grid-row: 3;
}

.polm{
  grid-column: 1;
  grid-row: 4;
}

.polj{
  grid-column: 1;
  grid-row: 5;
}

.ausm{
  grid-column: 1;
  grid-row: 6;
}

.ausj{
  grid-column: 1;
  grid-row: 7;
}

.pan{
  grid-column: 1;
  grid-row: 8;
}

.pam{
  grid-column: 1;
  grid-row: 9;
}

.pam2{
  grid-column: 1;
  grid-row: 10;
}

.paj{
  grid-column: 1;
  grid-row: 11;
}

.paj2{
  grid-column: 1;
  grid-row: 12;
}

.frm{
  grid-column: 1;
  grid-row: 13;
}

.frd{
  grid-column: 1;
  grid-row: 14;
}

.frm2{
  grid-column: 1;
  grid-row: 15;
}

.jugadores{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 22px;
  grid-auto-rows: minmax(100px, auto);    
}

/*ANCHO DE CARDS*/
#container-cards{
  width: 380px;
}

#nombre-jugador{
  margin:0;
}

   }